#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --text: rgb(0, 0, 0);
  --background: #ffffff;
  --primary: #8fb3ff;
  --secondary: #ebf1ff;
  --accent: #d41d6d;

  /**
  Dark Mode Colors
  --text: #fafafa;
  --background: #0d0d0c;
  --primary: #8fb3ff;
  --secondary: #ebf1ff;
  --accent: #d41d6d;
    */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin { 
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
